<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1>Value is.....</h1>
		<p><?php echo $findVal; ?></p>
	</div>
	<br />
	<a href="<?= $this->url('index'); ?>">Back to Index</a>
</div>