<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		
		<ul>
			<li><a href="<?= $this->url('index', ['action' => 'test']); ?>">Assignment 1 : TEST!!</a></li>
			<li><a href="<?= $this->url('index', ['action' => 'find']); ?>">Assignment 2 : Find X value</a></li>
			<li><a href="<?= $this->url('index', ['action' => 'restaurant']); ?>">Assignment 3 : Use Google map api Show restaurant nearby Buangsue</a></li>
		</ul>
	</div>
</div>