<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<div id="map"></div>
    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ0rHPxn1A-ker-RiNwkMVs4Xj-zJHjJg&libraries=places&callback=initialize" async defer></script>
	</div>
	<br />
	<a href="<?= $this->url('index'); ?>">Back to Index</a>
</div>